<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>список товарів</h1>
    <a href="{%url 'create'%}">Додати товар</a>
    {% for i in product  %}
    <h1>{{i.name}}</h1>
    <h3>{{i.descriptions}}</h3>
    <p>{{i.price}}</p>
    <h2>{{i.company}}</h2>
    <a href="{%url 'detail' i.id%}">Деталі товара</a>
    <a href="{%url 'delete' i.id%}">видалити продукт</a>
    {% endfor %}
</body>
</html>